body
{
    /* overflow: hidden; */
}

.title{
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    background: rgb(255,205,84);
    background: linear-gradient(81deg, rgba(255,205,84,1) 0%, rgba(70,86,119,1) 47%, rgba(70,86,119,1) 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

}
.padding{
    padding: 70px;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: rgb(187,138,1)  ;
    background-color:transparent;
}
.fix-whats {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 111;
  }
  .fix-whats i{
    background: rgb(255,205,84);

  }
.home{
    background-image: url(../img/slide3.jpg);
    width: 100%;
    height: 95vh;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.navbar li a{
    line-height: 30px;
    margin: 8px 10px;
   
}
.navbar-brand img{
    width: 150px;
    height: 150px;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.2);
}
.home-caption{
    height: 80vh;
}
.home-caption h1 {
    font-size: 51px;
    font-weight: bolder;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}
.home-caption p {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}
.home-caption button ,.contact button {
    border-color: rgb(187,138,1)  !important ;
background-color: rgb(187,138,1)  !important  ;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    font-weight: bold !important;
}


.About h1{
    font-size: 51px;
    font-weight: bolder;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}

.About p{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    padding: 30px;
}
.slip{ 
    width: 100%;
    height: 100vh;
    clip-path: polygon(0 0, 60% 0, 39% 100%, 0% 100%);
    background-color: black;
}

.Creative_Services{
    background-image: url(../img/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3JtMzE0LWJiLTE1XzFfMi5qcGc.webp);
    width: 100%;
    height: 100vh;
    /* background-position: center center; */
    background-size: cover;
}


.Creative_Services_text  h1 ,.web_design h1 ,.Digital-Marketing-caption h1{
    font-size: 51px;
    font-weight: bolder;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}
.Creative_Services_text  p ,.web_design p ,.section_footer a ,.Digital-Marketing-caption p,.contactUs p{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif; 
    text-decoration: none;
}



.social-icon li {
    margin: 5px;
    list-style:none;
    border:1px solid var(--maim-color) ;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: rgb(255,205,84);
    background: linear-gradient(81deg, rgba(255,205,84,1) 0%, rgba(70,86,119,1) 47%, rgba(70,86,119,1) 70%);

}
  .social-icon li a {
    color: white;
}
.contactUs{
    width: 100%;
    height: 90vh;
    /* background-color: black; */
    background: rgb(255,205,84);
    background: linear-gradient(81deg, rgba(255,205,84,1) 0%, rgba(70,86,119,1) 70%);
}

.title{
font-size: 70px;
background: rgb(255,205,84);
background: linear-gradient(81deg, rgba(255,205,84,1) 0%, rgba(70,86,119,1) 47%, rgba(70,86,119,1) 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.contactUs button:hover {
    background-color: rgb(187,138,1)  !important;
   
}
.contactUs img{
    width: 16%;
}
.contactUs button{
    border-color: rgb(187,138,1)  !important ;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    font-weight: bold !important;
}
.slip img{
    width: 25%;   
}
 /* @media screen  and (max-width:850px){
    .slip{ 
        height: 120vh;
       
    }
    
    .Creative_Services{
     
        height: 120vh;
    }
    
    .Creative_Services_text  h1{

        font-size: 33px;
    }

    .Creative_Services_text  p{

        font-size: 15px;
    }

    .title{
        font-size: 40px;
        }

        .contactUs{
            height: 70vh;
        }

        .home-caption p {
            padding: 10px;
            font-size: 18px;
            font-weight: 600;
            font-family: 'Pacifico', cursive;
            font-family: 'Poppins', sans-serif;
        }
        .contactUs img{
            width: 30%;
        }
 }
 @media screen  and (max-width:500px){
    .slip{ 
        height: 80vh;
        clip-path: polygon(0 0, 100% 0%, 100% 79%, 0% 100%);

       align-items: center;
    }

    .Creative_Services_text  h1{

        font-size: 30px;
    }

    .contactUs{
        height: 70vh;
    }

    .home-caption p {
        padding: 10px;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Pacifico', cursive;
        font-family: 'Poppins', sans-serif;
    }
    .contactUs img{
        width: 40%;
    }

    .slip img{
        width: 50%;   
  
    }


    /* .navbar-brand img{
        width: 40%;
    }
    .navbar-brand img{
        width: 40%;
    } */
    
 /* } */ 
